[submodule "2022"]
	path = 2022
	url = https://github.com/Cavitedev/advent-of-code-2022.git
[submodule "2023"]
	path = 2023
	url = https://github.com/Cavitedev/advent-of-code-2023.git
[submodule "2025"]
	path = 2025
	url = https://github.com/Cavitedev/Advent-of-Code-2025.git
